<div class="row">

    <div class="col-md-3">
        <div *ngIf="githubUser && githubUser.user">
            <div class="card">
                <div class="card-block">
                    <img src="{{githubUser.user.avatar_url}}" class="profile-img img-thumbnail m-b-1" />
                    <div class="user">
                        <h3><strong>{{githubUser.user.name}}</strong></h3>
                        <a href="{{githubUser.user.html_url}}" target="_blank">{{githubUser.user.login}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div *ngIf="githubUser && githubUser.user">
            <div class="card">
                <h5>Repositories</h5>
            </div>
            <div class="card" *ngFor="let repo of githubUser.repos">
                <a href="{{repo.html_url}}" target="_blank">
                    <h6 class="list-group-item-heading"><strong>{{repo.name}}</strong></h6>
                </a>
                <p class="list-group-item-text">{{repo.description}}</p>
            </div>
        </div>
    </div>
</div>