<header>
    <ul class="nav fixed-top">
        <li class="nav-item">
            <img src="../Github-Explorer/assets/images/githublogo.png" id="logo" alt="">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Github Explorer</a>
        </li>
        <form id="searchForm" class="form-inline">
            <li class="nav-item">
                <input typeaheadWaitMs="1000" type="text" name="username" class="form-control" placeholder="search username or repo name ..." [(ngModel)]="githubUser.userName" (keyup)="searchUser()" />
            </li>
        </form>

    </ul>
</header>